@model HomeIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Anasayfa";
}
@* 5 eşit alana böler *@
    <div class="row">
        @foreach (var item in Model.Categories)
        {
            <div class="col">
                @item.CategoryName
            </div>
        }


    </div>

<hr />

<div class="row">
    @foreach (var item in Model.News)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@item.NewsImagePath" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.NewsTitle</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.NewsSubtitle</h6>
                <p class="card-text">@item.NewsContent</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }

</div>